@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* === Header === */

nav {
  background-color: rgba(58, 33, 39, 0.5);
  color: #fff;
}

.nav-link {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 16px 10px;
  font-size: 16px;
  color: #fffffd;
  text-transform: uppercase;
  font-weight: bold;;
}

.nav-link li {
  padding: 4px;
  margin: 0 16px;
  font-size: 18px;
}
.nav-link :hover {
  color: #02135B;
  opacity: 0.9;
  transition: 0.5s;
  text-decoration: none;
}

.main-header-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: "Pacifico", cursive;
  font-family: "Satisfy", cursive;
  margin-left: 32px;
}

 /* === Main === */

main {
  background-image: url(../assets/images/violão-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.scrollToTop{   
  position:fixed;
  bottom: 40px;
  right:40px;
  z-index: 10;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}

.scrollToTop:hover {
  color: #02135B;
  opacity: 0.9;
  transition: 0.5s;
  text-decoration: none;
}
.main-content {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.main-content h1 {
  margin-bottom: 30px;
}

.main-info {
  width: 60%;
  padding: 50px;
  color: #fff;
  font-family: "Satisfy", cursive;
}

.main-info > p {
  font-size: 32px;
}

/* === Biografia === */

.bio-container {
  background-color: #6a6366;
  color: #fffffd;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.biography-btn {
  width: 120px;
  margin: auto;
  border: none;
  outline: 0;
  margin-bottom: 8px;
  font-size: 18px;
  padding: 8px 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.bio-content {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.bio-content > img {
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 10px;
}

.bio-content p {
  font-size: 16px;
  text-indent: 1.5em;
  text-align: justify;
}

/* === Galeria === */

.gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.gallery-btn {
  width: 120px;
  text-align: center;
  margin: auto;
  border: none;
  outline: 0;
  margin-bottom: 8px;
  font-size: 18px;
  padding: 8px 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 5px #e2e2e2;
    position:relative;
    cursor: pointer;
}

.card:after, .card:before{
    content: "";
    position:absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

.card:before {
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    transform: scaleY(0);
}

.card:after {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    transform:scaleX(0)
}

.card:hover:before {
    transform: scaleY(1);
}

.card:hover::after {
    transform: scaleX(1);
}

.card-text {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  text-align: left;
}

/* === Parcerias === */

.partnerships-container {
  background-color:  rgba(58, 33, 39, 0.5);
  padding: 24px;
}
.partnerships-btn {
  width: 120px ;
  margin: auto;
  border: none;
  outline: 0;
  margin-bottom: 16px;
  font-size: 18px;
  padding: 8px 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}


.carousel-item {
  text-align: center;
}

/* === CONTATOS === */

.contact-container {
  background-color: #6a6366;
  color: #fffffd;
  opacity: 0.9;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
}

 .contact-btn {
  /* margin: auto; */
  outline: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  padding: 16px 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 4px solid #02135B;
} 

.contact {
  background-color:  #02135B;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.contact:hover {
  border: 4px solid #02135B;
  box-shadow: 0 0 40px 40px  #6a6366 inset;
  opacity: 0.9;
  color: #02135B;
  font:bold 16px;
}

.contact-events,.contact-social-media {
  text-transform: uppercase;
  font-weight: bold;
  color: #fffffd;
  font-size: 18px;
  margin-top: 24px;
}

.midia-contact {
  width: 132px;
  font-size: 24px;
  display: flex;
  justify-content:space-between;
  margin-right: 5%;
}

.contact-phone {
  font-size: 16px;
  font-style: italic;
}
.midia-contact a {
  color: #fff;
}

.midia-contact :first-child :hover {
  color: #da0050;
  transition: 0.5s;
}

.midia-contact :nth-child(2) :hover {
  color: #1094f4;
  transition: 0.5s;
}

.midia-contact :last-child :hover {
  color: #00e676;
  transition: 0.5s;
}

/* === FOOTER === */

footer {
  background-color: rgba(0, 0, 0, 0.9); 
  height: 80px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 24px 8px;
}

/* === MODAL === */

.modal-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0s, visibility 1s;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal-container {
  width: 50%;
  height: 65%;
  background-color:#1d2d74;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-container > p {
  font-size: px;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > input {
  width: 300px;
  height: 40px;
  margin-top: 12px;
  border: none;
  padding: 12px;
}

.form-container > textarea {
  margin: 12px 0;
  padding: 12px;
}

.submit-reset {
  text-align: center;
  border: none;
  padding: 4px;
}

.submit-reset > input {
  margin: 8px;
  border:none;
}

.modal-container > span {
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .card {
    margin-bottom: 16px;
  }

  .main-info {
    width: 100%;
  }

  iframe {
    width: 400px;
    height: 400px;
  }
}


